In [9]:
import pyodbc
import pandas as pd

In [10]:
cnxn_str = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
            "Server=MSI\SQLEXPRESS;"
            "Database=FetchRewards;"
            "Trusted_Connection=yes;")

In [11]:
cursor=cnxn_str.cursor()

In [12]:
Receipt1= pd.read_sql('Select * from FetchRewards.dbo.Receipt1', cnxn_str)

In [13]:
Receipt1

,_id,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,createdDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate,pid
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.000000,5ff1e1eacfcf6c399c274ae6,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,1
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.000000,5ff1e194b6a9d73a3a9f1052,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-02 00:00:18.630,2
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.000000,5ff1e1f1cfcf6c399c274b0b,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,NaT,2021-01-03 00:00:18.630,NaT,2021-01-03 00:00:18.630,3
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.000000,5ff1e1eacfcf6c399c274ae6,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,4
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.000000,5ff1e194b6a9d73a3a9f1052,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630,2021-01-02 00:00:18.630,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.959999,5fc961c3b8cfca11a077dd33,2021-03-01 00:00:18.687,2021-03-01 00:00:18.687,NaT,2021-03-01 00:00:18.687,NaT,2020-08-17 00:00:18.490,1115
1115,603d0b710a720fde1000042a,NaN,None,None,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 00:00:18.687,2021-03-01 00:00:18.687,NaT,2021-03-01 00:00:18.687,NaT,NaT,1116
1116,603cf5290a720fde10000413,NaN,None,None,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 00:00:18.687,2021-03-01 00:00:18.687,NaT,2021-03-01 00:00:18.687,NaT,NaT,1117
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.959999,5fc961c3b8cfca11a077dd33,2021-03-01 00:00:18.687,2021-03-01 00:00:18.687,NaT,2021-03-01 00:00:18.687,NaT,2020-08-17 00:00:18.490,1118
1118,603c4fea0a7217c72c000389,NaN,None,None,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 00:00:18.687,2021-03-01 00:00:18.687,NaT,2021-03-01 00:00:18.687,NaT,NaT,1119

In [14]:
Receipt2 = pd.read_sql('Select * from FetchRewards.dbo.Receipt2', cnxn_str)
Receipt2

,_ParentKeyField,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,1,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0
1,2,4011,ITEM NOT FOUND,1,1,None,1,None,1.0,None,None,None,NaN
2,2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0
3,3,None,None,None,None,False,1,True,NaN,4011,True,26.00,3.0
4,4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,1114,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,None,1,None,1.0,None,None,None,NaN
6937,1115,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
6938,1115,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,None,1,None,1.0,None,None,None,NaN
6939,1118,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
6940,1118,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,None,1,None,1.0,None,None,None,NaN

In [15]:
Brand = pd.read_sql('Select * from FetchRewards.dbo.Brand', cnxn_str)
Brand

,_id,barcode,category,categoryCode,cpg,$ref,name,topBrand
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False
...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,5f77274dbe37ce6b592e90bf,Cogs,test brand @1601644365844,None
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,None,53e10d6368abd3c7065097cc,Cogs,Dippin DotsÂ® Cereal,None
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1598639215217,None
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,None,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves,False
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,6026d757be37ce6369301467,Cogs,test brand @1613158231643,False

In [23]:
Users = pd.read_sql('Select * from FetchRewards.dbo.[User]', cnxn_str)
Users

,_id,active,role,signUpSource,state,createdDate,lastLogin
0,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630
1,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630
2,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630
3,5ff1e1eacfcf6c399c274ae6,True,consumer,Email,WI,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630
4,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 00:00:18.630,2021-01-03 00:00:18.630
...,...,...,...,...,...,...,...
1975,None,None,None,None,None,2014-12-19 00:00:16.423,NaT
1976,None,None,None,None,None,2014-12-19 00:00:16.423,NaT
1977,None,None,None,None,None,2014-12-19 00:00:16.423,NaT
1978,None,None,None,None,None,2014-12-19 00:00:16.423,NaT
1979,None,None,None,None,None,2014-12-19 00:00:16.423,NaT

In [19]:
Receipt1.isnull().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
createdDate                  0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
purchaseDate               448
pid                          0
dtype: int64

In [20]:
Receipt2.isnull().sum()

_ParentKeyField              0
barcode                   3851
description                381
finalPrice                 174
itemPrice                  174
needsFetchReview          6128
partnerItemId                0
preventTargetGapPoints    6583
quantityPurchased          174
userFlaggedBarcode        6604
userFlaggedNewItem        6618
userFlaggedPrice          6642
userFlaggedQuantity       6642
dtype: int64

In [25]:
Users.isnull().sum()

_id              990
active           990
role             990
signUpSource    1086
state           1102
createdDate        0
lastLogin       1114
dtype: int64

In [27]:
Brand.isnull().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
$ref              0
name              0
topBrand        612
dtype: int64

In [33]:
Users.duplicated().sum()

1726

In [36]:
Users.shape

(1980, 7)

In [ ]:
cnxn_str.commit()